<div *ngIf="book" class="content">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{book.name}}</mat-card-title>
      <mat-card-subtitle>Creation Date : {{book.released|date:'longDate'}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-divider></mat-divider>
    <mat-card-content>
      <br>
      ISBN : {{book.isbn}}
      <br>
      Number of Pages : {{book.numberOfPages}}
      <br>
      Publisher : {{book.publisher}}
      <br>
      Country : {{book.country}}
      <br>
      <p>MediaType : {{book.mediaType}}</p>
      <br>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Authors
            </mat-panel-title>
            <mat-panel-description>
              Number of Authors : {{book.authors.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <a *ngFor="let author of (book.authors)">
            <p>{{author}}</p>
          </a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Characters
            </mat-panel-title>
            <mat-panel-description>
              Number of Characters : {{characters.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item *ngFor="let character of (characters)">
              <a (click)="navigateToCharacter(character.url)">{{getCharacterName(character.name)}} </a>
              <button mat-icon-button (click)="navigateToCharacter(character.url)">
                <mat-icon>search</mat-icon>
              </button>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              POVCharacters
            </mat-panel-title>
            <mat-panel-description>
              Number of POVCharacters : {{povCharacters.length}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item *ngFor="let povCharacter of (povCharacters)">
              <a (click)="navigateToCharacter(povCharacter.url)">{{getCharacterName(povCharacter.name)}}</a>
              <button mat-icon-button (click)="navigateToCharacter(povCharacter.url)">
                <mat-icon>search</mat-icon>
              </button>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
</div>