.title {
    display: flex;
    justify-content: center;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.example-card {
    max-width: 1100px;
    margin-bottom: 8px;
}

.pager {
    display: block;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: auto;
    width: 30%;

}

.pager-left {
    margin-right: 50px;
    margin-left: 140px;
}

.pager-right {
    margin-left: 50px;
    margin-right: 50px;
}