<div *ngIf="character" class="content">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title *ngIf="character.name!=''">{{character.name}}</mat-card-title>
            <mat-card-title *ngIf="character.name==''">Unknown</mat-card-title>
        </mat-card-title-group>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br>
            Gender : {{character.gender}}
            <br>
            Culture : {{character.culture}}
            <br>
            Born : {{character.born}}
            <br>
            Died : {{character.died}}
            <br>
            Father : <a *ngIf="father">{{father.name}} </a>
            <button *ngIf="character.father!='' " mat-icon-button (click)="navigateToCharacter(character.father)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            Mother : <a *ngIf="mother">{{mother.name}} </a>
            <button *ngIf="character.mother!='' " mat-icon-button (click)="navigateToCharacter(character.mother)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            <p>Spouse : <a *ngIf="spouse">{{spouse.name}} </a>
                <button *ngIf="character.spouse!='' " mat-icon-button (click)="navigateToCharacter(character.spouse)">
                    <mat-icon>search</mat-icon>
                </button>
            </p>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Titles
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Titles : {{character.titles.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let title of (character.titles)">
                        <p>{{title || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Aliases
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Aliases : {{character.aliases.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let alias of (character.aliases)">
                        <p>{{alias || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Allegiances
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Allegiances : {{allegiances.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let allegianc of (allegiances)">
                            <a (click)="navigateToHouse(allegianc.url)" >{{allegianc.name}} </a>
                            <button mat-icon-button (click)="navigateToHouse(allegianc.url)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Books
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Books : {{books.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let book of (books)">
                            <a (click)="navigateToBook(book.url)">{{book.name}} </a>
                            <button mat-icon-button (click)="navigateToBook(book.url)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            POVBooks
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of POVBooks : {{povBooks.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let book of (povBooks)">
                            <a (click)="navigateToBook(book.url)">{{book.name}} </a>
                            <button mat-icon-button (click)="navigateToBook(book.url)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            TvSeries
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of TvSeries : {{character.tvSeries.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let series of (character.tvSeries)">
                        <p>{{series || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            PlayedBy
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of PlayedBy : {{character.playedBy.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let actor of (character.playedBy)">
                        <p>{{actor || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>