<div class="content">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title *ngIf="house.name!=''">{{house.name}}</mat-card-title>
            <mat-card-title *ngIf="house.name==''">Unknown</mat-card-title>
        </mat-card-title-group>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br>
            Region : {{house.region}}
            <br>
            Coat Of Arms : {{house.coatOfArms}}
            <br>
            Words : {{house.words}}
            <br>
            Founded : {{house.founded}}
            <br>
            Died Out : {{house.diedOut}}
            <br>
            CurrentLord : <a>{{house.currentLord}} </a>
            <button *ngIf="house.currentLord!='' " mat-icon-button (click)="navigateToCharacter(house.currentLord)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            Heir : <a>{{house.heir}} </a>
            <button *ngIf="house.heir!='' " mat-icon-button (click)="navigateToCharacter(house.heir)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            Overlord : <a>{{house.overlord}} </a>
            <button *ngIf="house.overlord!='' " mat-icon-button (click)="navigateToCharacter(house.overlord)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            <p>Founder : <a>{{house.founder}} </a>
                <button *ngIf="house.founder!='' " mat-icon-button (click)="navigateToCharacter(house.founder)">
                    <mat-icon>search</mat-icon>
                </button>
            </p>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Titles
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Titles : {{house.titles.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let title of (house.titles)">
                        <p>{{title}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Seats
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Seast : {{house.seats.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let seat of (house.seats)">
                        <p>{{seat}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Ancestral Weapons
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Ancestral Weapons : {{house.ancestralWeapons.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let ancestralWeapon of (house.ancestralWeapons)">
                        <p>{{ancestralWeapon}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Cadet Branches
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Cadet Branches : {{house.cadetBranches.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let cadetBranch of (house.cadetBranches)">
                            <a>{{cadetBranch}} </a>
                            <button mat-icon-button (click)="navigateToHouse(cadetBranch)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Sworn Members
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Sworn Members : {{house.swornMembers.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let swornMember of (house.swornMembers)">
                            <a>{{swornMember}} </a>
                            <button mat-icon-button (click)="navigateToCharacter(swornMember)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>