<div *ngIf="house"class="content">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{house.name}}</mat-card-title>
        </mat-card-title-group>
        <mat-divider></mat-divider>
        <mat-card-content>
            <br>
            Region : {{house.region}}
            <br>
            Coat Of Arms : {{house.coatOfArms}}
            <br>
            Words : {{house.words}}
            <br>
            Founded : {{house.founded}}
            <br>
            Died Out : {{house.diedOut}}
            <br>
            CurrentLord : <a *ngIf="currentLord" >{{currentLord.name}} </a>
            <button *ngIf="house.currentLord!=''" mat-icon-button (click)="navigateToCharacter(house.currentLord)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            Heir : <a *ngIf="heir">{{heir.name}} </a>
            <button *ngIf="house.heir!=''" mat-icon-button (click)="navigateToCharacter(house.heir)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            Overlord : <a *ngIf="overlord">{{overlord.name}} </a>
            <button *ngIf="house.overlord!=''" mat-icon-button (click)="navigateToHouse(house.overlord)">
                <mat-icon>search</mat-icon>
            </button>
            <br>
            <p>Founder : <a *ngIf="founder">{{founder.name}} </a>
                <button *ngIf="house.founder!=''" mat-icon-button (click)="navigateToCharacter(house.founder)">
                    <mat-icon>search</mat-icon>
                </button>
            </p>
            <br>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Titles
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Titles : {{house.titles.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let title of (house.titles)">
                        <p>{{title || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Seats
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Seast : {{house.seats.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let seat of (house.seats)">
                        <p>{{seat || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Ancestral Weapons
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Ancestral Weapons : {{house.ancestralWeapons.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <a *ngFor="let ancestralWeapon of (house.ancestralWeapons)">
                        <p>{{ancestralWeapon || "Unknown"}}</p>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Cadet Branches
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Cadet Branches : {{house.cadetBranches.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let cadetBranch of (cadetBranches)">
                            <a (click)="navigateToHouse(cadetBranch.url)">{{cadetBranch.name}} </a>
                            <button mat-icon-button (click)="navigateToHouse(cadetBranch.url)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Sworn Members
                        </mat-panel-title>
                        <mat-panel-description>
                            Number of Sworn Members : {{house.swornMembers.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item *ngFor="let swornMember of (swornMembers)">
                            <a (click)="navigateToCharacter(swornMember.url)">{{swornMember.name || "Unknown" }} </a>
                            <button mat-icon-button (click)="navigateToCharacter(swornMember.url)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</div>